<template name="addcategory">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <span class="label-name" tyle="color:rgba(41,40,48,.89);"><i class="fa fa-circle text-warning"></i>Category</span>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="dropzone" style="padding-left: 0%; border-size:0.5px;">
                <input type="text" class="form-control" id="txtcategory" style="color:black;" placeholder="Add New Category">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <span class="label-name" tyle="color:rgba(41,40,48,.89);"><i class="fa fa-circle text-warning" s></i>Sub Category</span>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="dropzone" style="padding-left: 0%; border-size:0.5px;">
                <input type="text" class="form-control" id="txtSubcategory" style="color:black;" placeholder="Sub Category">
            </div>
        </div>
    </div>


     <div class="row">
     <button type="button" id="btnprof" class="btn btn-lg btn-block btn-success" data-placement="top" data-original-title=".btn .btn-inverse">
                                                                    <i class="fa fa-arrow-circle-right" style="color:white;"></i>Add
                                </button>
     </div>
</template>
