<template name="categorywrapper">
    <div class="col-md-9 col-lg-10">
        <div class="clearfix mb-xs">
            <a class="btn btn-transparent btn-sm width-50 pull-left hide" id="back-btn" href="special_inbox.html">
                <i class="fa fa-angle-left fa-lg"></i>
            </a>
            <div class="pull-right" id="folder-stats">
                <p class="widget-email-count">Showing 1 - 10 of 96 messages</p>
                <ul class="pagination pagination-sm widget-email-pagination">
                    <li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
        <section class="widget widget-email">
            <header id="widget-email-header" class="mb-sm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm dropdown-toggle" href="#" data-toggle="dropdown">
                            Select
                            <i class="fa fa-angle-down "></i>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a id="select-all" href="#">All</a></li>
                                <li><a id="select-none" href="#">None</a></li>
                                <li class="divider"></li>
                                <li><a id="select-read" href="#">Read</a></li>
                                <li><a id="select-unread" href="#">Unread</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default dropdown-toggle" href="#" data-toggle="dropdown">
                            Actions
                            <i class="fa fa-angle-down "></i>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a id="reply" href="#">Reply</a></li>
                                <li><a id="forward" href="#">Forward</a></li>
                                <li><a id="archive" href="#">Archive</a></li>
                                <li class="divider"></li>
                                <li><a id="mark-as-read" href="#">Mark As Read</a></li>
                                <li><a id="mark-as-unread" href="#">Mark As Unread</a></li>
                                <li class="divider"></li>
                                <li><a id="delete" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control input-transparent input-sm width-200 pull-right" id="mailbox-search" type="text" placeholder="Search Messages">
                    </div>
                </div>
            </header>
            {{> category}}



           
        </section>
    </div>
</template>
