<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progressus - Free business bootstrap template by GetTemplate</title>
    <link rel="shortcut icon" href="http://demo.flatlogic.com/3.2/transparent/img/favicon.png">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <script>
    /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
               chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                          https://code.google.com/p/chromium/issues/detail?id=332189
            */
    </script>
</head>

<body class="background-dark">
</body>
