<template name="mainlayout">
    <div class="container">
        <div class="navbar navbar-inverse" role="navigation" style="background-color:rgba(51,51,51,0.4); border:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#home" title="Buy Sell Rent Everyting">Name</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="col-sm-8 col-md-8">
                    <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
                        <div class="input-group" style="    width: 100%;">
                            <input type="text" class="form-control" placeholder="Search keywords" id="query" name="query" value="">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>




                </div>
            </div>
           
        </div>
    </div>
    <div id="wrapper">
        <div class="wrap">
        </div>
        <div class="content container">
             {{> headmenu}}
            {{> Template.dynamic template=content}}
        </div>
    </div>
</template>
