<template name="ask">
    <div class="content container">
       
        <div class="row">
            <div class="col-md-12">
              
                <div class="body text-align-center">
                    <!-- div class="well"> -->
                        <div class="row">                          
                            <div class="col-xs-12">                              
                                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"> Question Type  
                                <span style="color:orange; font-weight:bold;">{{updatebutton}}</span>

                                </button>
                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    {{> modalproflist}}                                   
                                </div>
                            </div>
                        </div>
                   <!--  </div> -->
                    <!-- <div class="well"> -->
                        <div class="row">
                           
                            <div class="col-xs-12">
                                <div class="dropzone"  style="padding-left: 0%; border-size:0.5px;">
                                    <input type="text" class="form-control" id="qtitle"  style="color:black;" placeholder="Title">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div id="dropzone" class="dropzone" style="padding-left: 0%; border-size:0.5px;">
                                    <textarea class="form-control" id="question" rows="5" style="color:black;" placeholder="Question description" ></textarea>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <!--  <div class="col-xs-3">
                               <div class="form-group">
                                    
                                </div>
                             </div> -->
                            <div class="col-xs-12">
                                <button type="button" id="btnprof" class="btn btn-lg btn-block btn-success" data-placement="top" data-original-title=".btn .btn-inverse">
                                   <div class="form-group" style="background-color:gray;">
                                   <div class="checkbox">
                                        <input type="checkbox" id="isAnnonymous" name="change-password">
                                        <label class="checkbox" for="isAnnonymous">
                                            Is Annonymous
                                        </label>
                                    </div>
                                    </div>

                                    <i class="fa fa-arrow-circle-right" style="color:white;"></i>Submit
                                </button>
                            </div>
                        </div>
                   <!--  </div> -->
                    <!--   <div class="well">
                        <div class="row">
                            <div class="col-xs-12 ">
                                
                            </div>
                        </div>
                    </div> -->
                </div>
                <!--   </section> -->
            </div>
        </div>
    </div>
</template>
